<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="arm">
  <!-- New robot root fixed to the UAV -->
  <link name="uav_mount"/>

  <!-- Flip the arm: 180 deg about X -->
  <joint name="uav_arm_mount" type="fixed">
    <parent link="uav_mount"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="3.14159265359 0 0"/>
  </joint>

  <link name="base_link">
    <inertial>
      <origin xyz="-9.3521E-08 0.039798 0.01431" rpy="0 0 0" />
      <mass value="0.32006" />
      <inertia
        ixx="0.00019183"
        ixy="-7.0174E-10"
        ixz="-1.1979E-19"
        iyy="0.00019409"
        iyz="-1.0933E-21"
        izz="0.0003823" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm/meshes/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <link name="link_1">
    <inertial>
      <origin xyz="0.0076576 -4.5073E-06 -0.0084157" rpy="0 0 0" />
      <mass value="0.82985" />
      <inertia
        ixx="0.0012605"
        ixy="5.7628E-09"
        ixz="7.7999E-08"
        iyy="0.00075054"
        iyz="-2.6173E-08"
        izz="0.00075741" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm/meshes/link_1.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_1" type="revolute">
    <origin xyz="0 0 0.105" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="link_1" />
    <axis xyz="0 0 -1" />
    <limit lower="-3.14" upper="3.14" effort="0" velocity="2.0" />
  </joint>

  <link name="link_2">
    <inertial>
      <origin xyz="0.45469 0.00122 -0.027585" rpy="0 0 0" />
      <mass value="0.78271" />
      <inertia
        ixx="0.00043594"
        ixy="-3.9905E-10"
        ixz="-1.2966E-05"
        iyy="0.0060874"
        iyz="1.3104E-06"
        izz="0.0062022" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm/meshes/link_2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_2" type="revolute">
    <origin xyz="0.092 0 0" rpy="1.5708 0 1.5708" />
    <parent link="link_1" />
    <child link="link_2" />
    <axis xyz="0 0 1" />
    <limit lower="0.0" upper="3.14" effort="0" velocity="2.0" />
  </joint>

  <link name="link_3">
    <inertial>
      <origin xyz="0.04084 -0.21708 -0.0017565" rpy="0 0 0" />
      <mass value="0.12605" />
      <inertia
        ixx="0.0022136"
        ixy="1.4859E-08"
        ixz="4.3772E-20"
        iyy="2.826E-05"
        iyz="3.3583E-18"
        izz="0.0022286" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm/meshes/link_3.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_3" type="revolute">
    <origin xyz="0.65 0 -0.036" rpy="-3.1416 0 1.5708" />
    <parent link="link_2" />
    <child link="link_3" />
    <axis xyz="0 0 1" />
    <limit lower="0.0" upper="3.14" effort="0" velocity="2.0" />
  </joint>

  <link name="link_4">
    <inertial>
      <origin xyz="-0.0013351 7.9362E-05 -0.003056" rpy="0 0 0" />
      <mass value="0.067165" />
      <inertia
        ixx="1.7828E-05"
        ixy="-7.9769E-09"
        ixz="-4.4355E-09"
        iyy="1.3159E-05"
        iyz="3.207E-10"
        izz="1.3727E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm/meshes/link_4.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_4" type="revolute">
    <origin xyz="0.045 -0.566 0" rpy="-1.5708 0 3.1416" />
    <parent link="link_3" />
    <child link="link_4" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="0" velocity="2.0" />
  </joint>

  <link name="link_5">
    <inertial>
      <origin xyz="0.022968 -5.1135E-08 0.030283" rpy="0 0 0" />
      <mass value="0.060361" />
      <inertia
        ixx="1.3667E-05"
        ixy="3.1317E-10"
        ixz="3.1997E-09"
        iyy="1.3076E-05"
        iyz="-2.8151E-11"
        izz="9.8699E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm/meshes/link_5.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm/meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_5" type="revolute">
    <origin xyz="0 0 0" rpy="1.5708 0 -1.5708" />
    <parent link="link_4" />
    <child link="link_5" />
    <axis xyz="0 0 -1" />
    <limit lower="-3.14" upper="0.0" effort="0" velocity="2.0" />
  </joint>

  <link name="link_6">
    <inertial>
      <origin xyz="-0.0016715 0.0012039 0.10561" rpy="0 0 0" />
      <mass value="0.12546" />
      <inertia
        ixx="0.00010906"
        ixy="-2.1331E-08"
        ixz="-1.0931E-06"
        iyy="0.00011841"
        iyz="1.1104E-08"
        izz="1.8306E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm/meshes/link_6.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm/meshes/link_6.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_6" type="revolute">
    <origin xyz="0 0 0" rpy="1.5708 0 1.5708" />
    <parent link="link_5" />
    <child link="link_6" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="0" velocity="2.0" />
  </joint>

  <link name="tool_link">
    <inertial>
      <origin xyz="-0.0019993 -0.032765 -0.0012944" rpy="0 0 0" />
      <mass value="0.054319" />
      <inertia
        ixx="3.5973E-05"
        ixy="6.7407E-06"
        ixz="-4.8054E-09"
        iyy="5.7727E-06"
        iyz="-9.5599E-08"
        izz="4.1279E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm/meshes/tool_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm/meshes/tool_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="tool_joint" type="revolute">
    <origin xyz="-0.02305 0.00055 0.138" rpy="-1.5708 0 -3.1416" />
    <parent link="link_6" />
    <child link="tool_link" />
    <axis xyz="0 0 1" />
    <limit lower="-0.69" upper="0.0" effort="0" velocity="2.0" />
  </joint>

  <!-- Stable TCP frame for MoveIt, RViz, and tracker nodes. -->
  <link name="tool0"/>

  <joint name="tool0_fixed" type="fixed">
    <parent link="link_6"/>
    <child link="tool0"/>
    <origin xyz="0 0.01 0.2" rpy="0 0 0"/>
  </joint>
</robot>
