<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="arm_core" params="">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0339276706823284 -1.04231540219435E-05 -0.0124172524166314"
        rpy="0 0 0" />
      <mass
        value="0.135833610555003" />
      <inertia
        ixx="9.85770919987196E-05"
        ixy="-2.82075485055362E-10"
        ixz="-7.29620523019698E-12"
        iyy="0.000102916575350117"
        iyz="9.14956729008769E-13"
        izz="0.00019986194718354" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/meshes/arm/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/meshes/arm/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="0.000006 0.001114 -0.019768"
        rpy="0 0 0" />
      <mass
        value="1.889" />
      <inertia
        ixx="0.003485053"
        ixy="-0.000000287"
        ixz="0.000000106"
        iyy="0.004329710"
        iyz="0.000035555"
        izz="0.001983100"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/meshes/arm/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/meshes/arm/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0 0 -0.105"
      rpy="3.1416 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="100"
      velocity="0.20" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="0.404172 0.000000 0.048931"
        rpy="0 0 0" />
      <mass
        value="0.818" />
      <inertia
        ixx="0.000825516"
        ixy="-0.000000001"
        ixz="-0.001442463"
        iyy="0.063324330"
        iyz="0.000000000"
        izz="0.062951082"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/meshes/arm/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/meshes/arm/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 -3.1416" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="3.1416"
      effort="100"
      velocity="0.20" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.037731 0.362260 -0.001888"
        rpy="0 0 0" />
      <mass
        value="0.537" />
      <inertia
        ixx="0.022532593"
        ixy="0.001272152"
        ixz="0.000062364"
        iyy="0.000351160"
        iyz="0.000594673"
        izz="0.022677241"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/meshes/arm/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/meshes/arm/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0.65 0 0.056"
      rpy="0 0 1.5708" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="0"
      effort="100"
      velocity="0.10" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="-0.000088 -0.002372 -0.001219"
        rpy="0 0 0" />
      <mass
        value="0.166" />
      <inertia
        ixx="0.000047749"
        ixy="-0.000000202"
        ixz="-0.000000016"
        iyy="0.000049707"
        iyz="-0.000001853"
        izz="0.000043500"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/meshes/arm/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/meshes/arm/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0.045 0.566 0"
      rpy="1.5708 1.5708 0" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="100"
      velocity="0.20" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="-0.000001 -0.020304 0.038224"
        rpy="0 0 0" />
      <mass
        value="0.134" />
      <inertia
        ixx="0.000096108"
        ixy="0.000000000"
        ixz="-0.000000001"
        iyy="0.000074144"
        iyz="0.000019325"
        izz="0.000038048"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/meshes/arm/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/meshes/arm/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="3.1416"
      effort="100"
      velocity="0.10" />
  </joint>
  <link
    name="link_6">
    <inertial>
      <origin
        xyz="0.000000 0.000000 -0.004856"
        rpy="0 0 0" />
      <mass
        value="0.025" />
      <inertia
        ixx="0.000003158"
        ixy="0.000000000"
        ixz="0.000000000"
        iyy="0.000003158"
        iyz="0.000000000"
        izz="0.000005681"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/meshes/arm/link_6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/meshes/arm/link_6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_6"
    type="revolute">
    <origin
      xyz="0 -0.0475 0"
      rpy="1.5708 0 0" />
    <parent
      link="link_5" />
    <child
      link="link_6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="100"
      velocity="0.20" />
  </joint>
  </xacro:macro>
</robot>
