<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="arm_core" params="">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0339276706823284 -1.04231540219435E-05 -0.0124172524166314"
        rpy="0 0 0" />
      <mass
        value="0.135833610555003" />
      <inertia
        ixx="9.85770919987196E-05"
        ixy="-2.82075485055362E-10"
        ixz="-7.29620523019698E-12"
        iyy="0.000102916575350117"
        iyz="9.14956729008769E-13"
        izz="0.00019986194718354" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/meshes/arm/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/meshes/arm/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="4.09291668656414E-06 0.00280757977321831 -0.0263769532908136"
        rpy="0 0 0" />
      <mass
        value="0.913798575246718" />
      <inertia
        ixx="0.000738791751701404"
        ixy="-5.75329601726248E-09"
        ixz="2.80419912699289E-08"
        iyy="0.0011562373940488"
        iyz="8.50224940441207E-08"
        izz="0.000841350922681244" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/meshes/arm/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/meshes/arm/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0 0 -0.105"
      rpy="3.1416 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="0.295660685573248 1.97339206087221E-09 0.0632129424708848"
        rpy="0 0 0" />
      <mass
        value="0.380008611681788" />
      <inertia
        ixx="0.000175559418519974"
        ixy="9.72369978687692E-11"
        ixz="-4.801848839621E-06"
        iyy="0.00300845122180772"
        iyz="-1.30095166425468E-11"
        izz="0.00305616555189797" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/meshes/arm/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/meshes/arm/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 -3.1416" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.0263064294366529 0.146366952173937 -0.00805675482743204"
        rpy="0 0 0" />
      <mass
        value="0.238605745340086" />
      <inertia
        ixx="0.00218726998909511"
        ixy="-8.98624821265651E-09"
        ixz="1.95850088437551E-06"
        iyy="0.000112084445050758"
        iyz="-7.72526188677785E-11"
        izz="0.00227353669762659" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/meshes/arm/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/meshes/arm/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0.65 0 0.056"
      rpy="0 0 1.5708" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="-7.52958278054938E-05 -0.000161441625529002 -0.00285726554010637"
        rpy="0 0 0" />
      <mass
        value="0.0708022799545759" />
      <inertia
        ixx="1.41353753540356E-05"
        ixy="7.97726994775567E-09"
        ixz="-1.56574444311003E-10"
        iyy="1.96983268044385E-05"
        iyz="-4.01928980634711E-09"
        izz="1.44656767445609E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/meshes/arm/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/meshes/arm/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0.045 0.566 0"
      rpy="1.5708 1.5708 0" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="-4.73726066568814E-08 -0.0259717682743559 0.0246559410060783"
        rpy="0 0 0" />
      <mass
        value="0.0651571805551386" />
      <inertia
        ixx="1.23629405434362E-05"
        ixy="-3.13170044403038E-10"
        ixz="-2.81505338860848E-11"
        iyy="1.49174929347889E-05"
        iyz="-1.06785390094496E-09"
        izz="8.59424820964246E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/meshes/arm/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/meshes/arm/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_6">
    <inertial>
      <origin
        xyz="5.55111512312578E-17 0 -0.00485640090169481"
        rpy="0 0 0" />
      <mass
        value="0.0245056804431765" />
      <inertia
        ixx="3.15824905363328E-06"
        ixy="2.02182651870993E-21"
        ixz="-3.17953134358005E-22"
        iyy="3.15824905363328E-06"
        iyz="-5.13990365328799E-22"
        izz="5.68068244515307E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/meshes/arm/link_6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm/meshes/arm/link_6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_6"
    type="revolute">
    <origin
      xyz="0 -0.0475 0"
      rpy="1.5708 0 0" />
    <parent
      link="link_5" />
    <child
      link="link_6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
  </xacro:macro>
</robot>
