<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:arg name="use_fake_hardware" default="true"/>
    <xacro:arg name="serial_port" default="/dev/ttyACM0"/>
    <xacro:arg name="reader_port" default="/dev/ttyUSB5"/>
    <xacro:arg name="gripper_port" default="/dev/ttyUSB6"/>
    <xacro:arg name="baudrate" default="230400"/>
    <xacro:arg name="gripper_baudrate" default="115200"/>
    <xacro:arg name="position_scale" default="1000"/>
    <xacro:arg name="arm_joint_signs" default="1,1,-1,1,1,1"/>
    <xacro:arg name="arm_joint_offsets" default="0,0,0,0,0,0"/>
    <xacro:arg name="hw_slowdown" default="10"/>
    <xacro:arg name="initial_read_timeout_sec" default="2.0"/>
    <xacro:arg name="first_power_on" default="true"/>
    <xacro:arg name="aux_joint_min" default="-0.69"/>
    <xacro:arg name="aux_joint_max" default="0.0"/>
    <xacro:arg name="arm_command_frame_format" default="legacy_position"/>
    <xacro:arg name="stm32_control_mode" default="0"/>
    <xacro:arg name="stm32_kp" default="50,50,50,50,50,50"/>
    <xacro:arg name="stm32_kd" default="2,2,2,2,2,2"/>
    <xacro:arg name="stm32_heartbeat_duration_sec" default="1.0"/>
    <xacro:arg name="stm32_trigger_duration_sec" default="3.0"/>
    <xacro:arg name="stm32_feedback_wait_timeout_sec" default="2.0"/>
    <xacro:arg name="enable_stm32_zero_trigger" default="false"/>
    <xacro:arg name="stm32_trace_enabled" default="false"/>
    <xacro:arg name="stm32_trace_directory" default="/tmp/arm_stm32_traces"/>
    <xacro:arg name="stm32_trace_run_label" default=""/>
    <xacro:arg name="stm32_trace_file" default=""/>
    <xacro:arg name="stm32_trace_append" default="false"/>
    <xacro:arg name="stm32_trace_decimation" default="1"/>
    <xacro:arg name="enable_dynamics_feedforward" default="false"/>
    <xacro:arg name="dynamics_mode" default="gravity"/>
    <xacro:arg name="dynamics_urdf_path" default=""/>
    <xacro:arg name="dynamics_feedforward_source" default="topic"/>
    <xacro:arg name="dynamics_feedforward_topic" default="/arm_dynamics/torques_nm"/>
    <xacro:arg name="dynamics_topic_timeout_sec" default="0.25"/>
    <xacro:arg name="dynamics_use_commanded_position" default="false"/>
    <xacro:arg name="dynamics_torque_scale" default="1.0"/>
    <xacro:arg name="dynamics_torque_limits_nm" default="0.5,0.5,0.3,0.2,0.15,0.1"/>
    <xacro:arg name="dynamics_torque_joint_signs" default=""/>
    <xacro:arg name="dynamics_torque_low_pass_alpha" default="0.2"/>

    <xacro:macro name="position_joint_interfaces" params="joint_name initial_value min_limit max_limit">
        <joint name="${joint_name}">
            <command_interface name="position"/>
            <param name="min">${min_limit}</param>
            <param name="max">${max_limit}</param>
            <state_interface name="position">
                <param name="initial_value">${initial_value}</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
    </xacro:macro>

    <xacro:macro name="arm_ros2_control" params="
        name
        initial_positions_file
        use_fake_hardware:=true
        serial_port:='/dev/ttyACM0'
        reader_port:='/dev/ttyUSB5'
        gripper_port:='/dev/ttyUSB6'
        baudrate:='230400'
        gripper_baudrate:='115200'
        position_scale:='1000'
        arm_joint_signs:='1,1,-1,1,1,1'
        arm_joint_offsets:='0,0,0,0,0,0'
        hw_slowdown:='10'
        initial_read_timeout_sec:='2.0'
        first_power_on:='true'
        aux_joint_min:='-0.69'
        aux_joint_max:='0.0'
        arm_command_frame_format:='legacy_position'
        stm32_control_mode:='0'
        stm32_kp:='50,50,50,50,50,50'
        stm32_kd:='2,2,2,2,2,2'
        stm32_heartbeat_duration_sec:='1.0'
        stm32_trigger_duration_sec:='3.0'
        stm32_feedback_wait_timeout_sec:='2.0'
        enable_stm32_zero_trigger:='false'
        stm32_trace_enabled:='false'
        stm32_trace_directory:='/tmp/arm_stm32_traces'
        stm32_trace_run_label:=''
        stm32_trace_file:=''
        stm32_trace_append:='false'
        stm32_trace_decimation:='1'
        enable_dynamics_feedforward:='false'
        dynamics_mode:='gravity'
        dynamics_urdf_path:=''
        dynamics_feedforward_source:='topic'
        dynamics_feedforward_topic:='/arm_dynamics/torques_nm'
        dynamics_topic_timeout_sec:='0.25'
        dynamics_use_commanded_position:='false'
        dynamics_torque_scale:='1.0'
        dynamics_torque_limits_nm:='0.5,0.5,0.3,0.2,0.15,0.1'
        dynamics_torque_joint_signs:=''
        dynamics_torque_low_pass_alpha:='0.2'">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <xacro:if value="${use_fake_hardware}">
                    <plugin>mock_components/GenericSystem</plugin>
                </xacro:if>
                <xacro:unless value="${use_fake_hardware}">
                    <plugin>my_arm_hardware/MyArmHardware</plugin>
                    <param name="serial_port">${serial_port}</param>
                    <param name="reader_port">${reader_port}</param>
                    <param name="gripper_port">${gripper_port}</param>
                    <param name="baudrate">${baudrate}</param>
                    <param name="gripper_baudrate">${gripper_baudrate}</param>
                    <param name="position_scale">${position_scale}</param>
                    <param name="arm_joint_signs">${arm_joint_signs}</param>
                    <param name="arm_joint_offsets">${arm_joint_offsets}</param>
                    <param name="hw_slowdown">${hw_slowdown}</param>
                    <param name="initial_read_timeout_sec">${initial_read_timeout_sec}</param>
                    <param name="first_power_on">${first_power_on}</param>
                    <param name="aux_joint_min">${aux_joint_min}</param>
                    <param name="aux_joint_max">${aux_joint_max}</param>
                    <param name="arm_command_frame_format">${arm_command_frame_format}</param>
                    <param name="stm32_control_mode">${stm32_control_mode}</param>
                    <param name="stm32_kp">${stm32_kp}</param>
                    <param name="stm32_kd">${stm32_kd}</param>
                    <param name="stm32_heartbeat_duration_sec">${stm32_heartbeat_duration_sec}</param>
                    <param name="stm32_trigger_duration_sec">${stm32_trigger_duration_sec}</param>
                    <param name="stm32_feedback_wait_timeout_sec">${stm32_feedback_wait_timeout_sec}</param>
                    <param name="enable_stm32_zero_trigger">${enable_stm32_zero_trigger}</param>
                    <param name="stm32_trace_enabled">${stm32_trace_enabled}</param>
                    <param name="stm32_trace_directory">${stm32_trace_directory}</param>
                    <param name="stm32_trace_run_label">${stm32_trace_run_label}</param>
                    <param name="stm32_trace_file">${stm32_trace_file}</param>
                    <param name="stm32_trace_append">${stm32_trace_append}</param>
                    <param name="stm32_trace_decimation">${stm32_trace_decimation}</param>
                    <param name="enable_dynamics_feedforward">${enable_dynamics_feedforward}</param>
                    <param name="dynamics_mode">${dynamics_mode}</param>
                    <param name="dynamics_urdf_path">${dynamics_urdf_path}</param>
                    <param name="dynamics_feedforward_source">${dynamics_feedforward_source}</param>
                    <param name="dynamics_feedforward_topic">${dynamics_feedforward_topic}</param>
                    <param name="dynamics_topic_timeout_sec">${dynamics_topic_timeout_sec}</param>
                    <param name="dynamics_use_commanded_position">${dynamics_use_commanded_position}</param>
                    <param name="dynamics_torque_scale">${dynamics_torque_scale}</param>
                    <param name="dynamics_torque_limits_nm">${dynamics_torque_limits_nm}</param>
                    <param name="dynamics_torque_joint_signs">${dynamics_torque_joint_signs}</param>
                    <param name="dynamics_torque_low_pass_alpha">${dynamics_torque_low_pass_alpha}</param>
                </xacro:unless>
            </hardware>

            <xacro:position_joint_interfaces joint_name="joint_1" initial_value="${initial_positions['joint_1']}" min_limit="-3.14" max_limit="3.14"/>
            <xacro:position_joint_interfaces joint_name="joint_2" initial_value="${initial_positions['joint_2']}" min_limit="0.0" max_limit="3.14"/>
            <xacro:position_joint_interfaces joint_name="joint_3" initial_value="${initial_positions['joint_3']}" min_limit="-3.14" max_limit="0.0"/>
            <xacro:position_joint_interfaces joint_name="joint_4" initial_value="${initial_positions['joint_4']}" min_limit="-3.14" max_limit="3.14"/>
            <xacro:position_joint_interfaces joint_name="joint_5" initial_value="${initial_positions['joint_5']}" min_limit="0" max_limit="3.14"/>
            <xacro:position_joint_interfaces joint_name="joint_6" initial_value="${initial_positions['joint_6']}" min_limit="-3.14" max_limit="3.14"/>
            <xacro:position_joint_interfaces joint_name="tool_joint" initial_value="${initial_positions['tool_joint']}" min_limit="${aux_joint_min}" max_limit="${aux_joint_max}"/>
        </ros2_control>
    </xacro:macro>
</robot>
